<div class="row " ng-controller='client-controller'>
    <div class=" col-md-12 title-header">
        <h4 class="section-heading">Manage Clients for Recommender as a Service</h4>
        <hr class="hr-line">
    </div>
 <div class="col-md-12 mb-12 mb-md-0  ">

		<!-- <div class="col-md-12" style="padding: 0px;">
        	<a href="#!/add_new_client" class="btn btn-primary "><b>Manage Clients</a>
    	</div>
    	<br/> -->
        <table style="width:100%;font-size: 12px;" class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="width:3%">#</th>
                    <th style="width:10%">Client Name</th>
                    <th style="width:45%">Client Details</th>
                    <th style="width:15%">Email Address</th>
                    <th style="width:12%">Client key</th>
                    <th style="width:10%">Manage Clients</th>
                    
                </tr>
            </thead>
            <tbody ng-if="clients.length > 0">
                <tr  ng-repeat="client in clients">
                    <td  style="text-align:center;" >{{($index+1)}}</td>
                    <td style="text-align:center;"> {{client.clientName}} </td>
                    <td style="text-align: justify;"> {{client.clientDesc}} </td>
                    <td style="text-align: justify;"> {{client.emailAddress}} </td>
                    <td style="text-align:center;padding: 0px;"> {{client.clientKey}} </td>
                    <td style="text-align:center;">
                    	<span ng-if="process.isDefault == 'Y'" style="font-weight: bold;">-</span> 
                    	<a href="javascript:void(0);" class="icon-link delete-link" ng-click="deleteClient(client.id);" ><i class="fa fa-trash"  ></i>&nbsp;Delete</a>
                    	 	
                    </td>
                  
					            
                   
                </tr>
            </tbody>
            
            <tbody ng-if="clients.length == 0">
            	<tr><td colspan="5" style="text-align: center;">Sorry, We could not find any clients.</td></tr>
            </tbody>
        </table>
        <br>
    </div>
</div>

<style>
.table thead tr th{
	text-align: center;
} 
.table tbody td {
	border: 1px solid #ddd;
	vertical-align: middle;
}
.table thead th {
	border: 1px solid #ddd;
	vertical-align: middle;
}

   /*  .table tbody td {
        border: 1px solid #ddd;
    } */
</style>