<div th:fragment="page_headerAdmin">

    <header>
		<nav class="otr-nav fixed-top" style="background-color: #222222;" id="mainNav">

            <div class="container">
              <a   href="javascript:void(0);">&nbsp;</a>

            </div>
        </nav>
        <nav class="navbar cyneuro-nav navbar-expand-md navbar-dark fixed-top" style="background-color: #222222;top: 10px;" id="mainNav">

            <div class="container">
                <a class="navbar-brand" href="#">OnTimeRecommend</a>
      
              
               	<div class="collapse navbar-collapse logout" id="navbar-mobile">
		         <a href="javascript:void(0);" class="navbar-nav-link d-flex align-items-center " data-toggle="dropdown" aria-expanded="false">
		         <img ng-src="userSessionVO.avatarUrl" class="rounded-circle mr-2" height="34" alt="" />
		         <span style="color: #fff;" >{{userSessionVO.userName}}  &nbsp;&nbsp;<i class="fa fa-chevron-down" style="font-size: 12px;"></i></span>
		         </a>
		         <div class="dropdown-menu dropdown-menu-right user-details ng-scope" ng-controller="logoutController">
		            <a ng-click="logout();" href="javascript:void(0);" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
		         </div>
		      </div>
                    
            </div>

        </nav>
        
    </header>
</div>