<div class="row " ng-controller='edit-process'>
    <div class=" col-md-12 title-header">
        <h4 class="section-heading">Add New Process</h4>
        <hr class="hr-line">
    </div>
    <div class="col-md-12 mb-12 mb-md-0  ">

        <div class="form-group">
            <label for="name">Process Name</label>
            <input type="text" ng-model="proc.processName" class="form-control" id="appName">
        </div>
        <div class="form-group">
            <label for="desc">Process Description</label>
            <textarea ng-model="proc.processDetails" class="form-control" id="appDes"></textarea>
        </div>

        <div class="form-group">
            <label for="domainName">MicroService URL</label>
            <input type="text" ng-model="proc.apiUrl" class="form-control" id="domainName">
        </div>

        <input type="checkbox" value="true" onclick="showStepToggle('sdk_details')" /> &nbsp;Update Input Parameters for MicroService

        <div class="form-group" id="sdk_details" style="display: none;">

            <div id="build-wrap-req" class="rec-payload"></div>
        </div>
        <input ng-model="proc.inputParamater" type="hidden" id="json_requestPayload" />

        <script type="text/javascript">
        	var fbEditor_req = document.getElementById('build-wrap-req');
            var formBuilder_req = $(fbEditor_req).formBuilder();

            jQuery(function($) {
                console.log(formBuilder_req);

                document.getElementById('getJSON_req').addEventListener('click', function() {
                    document.getElementById('json_requestPayload').value = formBuilder_req.actions.getData('json');
                });

                
            });
            
            function showStepToggle(id){
            	
            	$("#"+id).toggle("slow");
            	formBuilder_req.actions.setData(document.getElementById('json_requestPayload').value);

            }
        </script>
        <div class="setDataWrap">
            <button id="getJSON_req" class="btn btn-primary" ng-click="editProcess()" type="button">Edit Process Details</button>
            <!-- button id="set_Data"   type="button">Load</button> -->

        </div>

    </div>
</div>

<style>
    .table thead tr th {
        text-align: center;
    }
    
    .table tbody td {
        border: 1px solid #ddd;
        vertical-align: middle;
    }
    
    .table thead th {
        border: 1px solid #ddd;
        vertical-align: middle;
    }
    /*  .table tbody td {
        border: 1px solid #ddd;
    } */
</style>