<div class="row " ng-controller='rec-as-a-service-controller'>
    <div class=" col-md-12 title-header">
        <h4 class="section-heading">Recommender Orchestrator</h4>
        <hr class="hr-line">
    </div>
 <div class="col-md-12 mb-12 mb-md-0  ">

        <table style="width:100%;font-size: 12px;" class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="width:5%">#</th>
                    <th style="width:20%">Client Name</th>
                    <th style="width:50%">Recommender Details</th>
                    <th style="width:10%">Add Recommender</th>
                    
                </tr>
            </thead>
            <tbody ng-if="clients.length > 0">
                <tr  ng-repeat="client in clients">
                    <td >{{($index+1)}}</td>
                    <td style="text-align:center;"> {{client.clientName}} </td>
                    <td style="text-align: justify;">
                    	<ul style="padding: 0 0 0 10px;" ng-if="client.recApps.length > 0" >
							<li ng-repeat="apps in client.recApps" style="line-height: 20px;">
								{{apps.appName}}&nbsp;&nbsp;
								<a href="#!/openProceessOrch/{{apps.recId}}/{{client.id}}" > 
									<i class="fa fa-cogs"></i>
								</a> 
	                    	 	<br/>
	                    	 </li>		
                    	</ul>	  
                    	
                    	<span ng-if="!client.recApps || client.recApps.length == 0">No Recommender Added</span>
                    	
                    </td>
                    <td style="text-align:center;">
                    	 <div class="form-group">
                    		<select ng-model="recIds[client.id]"  class="form-control"  style="width:250px;" >
                    			<option value="" >-Select Recommender-</option>
                    			<option title="{{rec.appName}}" ng-repeat="rec in recList" value="{{rec.recId}}" >{{rec.appName}}</option>
                    		</select>
                    	</div>
						<a href="javascript:void(0);" class="icon-link add-link" ng-click="addRecommenderToClient(client.id,recIds[client.id]);" >
							<i class="fa fa-plus" style="font-size: 10px;" ></i>&nbsp;Add Recommender</a>
 	
                    </td> 
                  
					            
                   
                </tr>
            </tbody>
            
            <tbody ng-if="clients.length == 0">
            	<tr><td colspan="5" style="text-align: center;">Sorry, We could not find any clients.</td></tr>
            </tbody>
        </table>
        <br>
    </div>
</div>

<style>
.table thead tr th{
	text-align: center;
} 
.table tbody td {
	border: 1px solid #ddd;
	vertical-align: middle;
}
.table thead th {
	border: 1px solid #ddd;
	vertical-align: middle;
}

   /*  .table tbody td {
        border: 1px solid #ddd;
    } */
</style>