
 <h4>Response Details</h4>
 
  
<div class="form-group">
    <label for="domainName">Output Template Name</label>
    <input type="text" ng-model="rec.outputTemplate"  class="form-control"  id="objectName">
  </div>
   <div class="form-group">
    <label for="domainName">API URL</label>
    <input type="text" ng-model="rec.apiUrl"  class="form-control"  id="objectName">
  </div>
   
  <div class="form-group">
  	<button class="btn btn-primary "  id="getJSON_req" ng-click="updateRecommenderDetails();">Update Details</button>
  </div>
  

<script type="text/javascript">
   /*  jQuery(function($) { */
        var list = ['req'];
        
        var fbInstances = {};

        var init = function(i) {
            if (i < list.length) {
                var options = JSON.parse(JSON.stringify([])); // deep copy
                $("#build-wrap-"+list[i]).formBuilder(options).promise.then(function(res) {
					
                    fbInstances[list[i]] = res;
                    i++;
                    init(i);
                });
            } else {
                return;
            }
        };

        init(0); // init by recursive 

        document.getElementById('getJSON_req').addEventListener('click', function() {

        	for(key in list){
        		console.log(key);
        		console.log(fbInstances[list[key]].actions.getData('json'));
        		//input request paramter 
        		document.getElementById('json-requestPayload-'+list[key]).value = fbInstances[list[key]].actions.getData('json');
    	    	
        	}

        });
        
        function loadInput(id){
        	fbInstances["req"].actions.setData(document.getElementById('json-requestPayload-req').value);
        	showRecTab(id);

        }
    /* }); */
    
    
</script>