 <h4>Recommender Details</h4>
 
  <div class="form-group">
    <label for="name">Recommender Name</label>
    <input type="text" ng-model="rec.appName" class="form-control" id="appName">
  </div>
  <div class="form-group">
    <label for="desc">Recommender Description:</label>
    <textarea ng-model="rec.appDes"  class="form-control" id="appDes" ></textarea>
  </div>
  <div class="form-group">
    <label for="domainName">Domain Name:</label>
    <input type="text" ng-model="rec.domainName"  class="form-control" id="domainName">
  </div>
  